@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
:root{
    --df-clr: #464646;
    --act-clr: #FF773E;
}
body {
    font-family: 'Helvetica Neue', sans-serif;
    font-family: 'Helvetica 25 UltraLight', sans-serif;
    font-family: 'Helvetica 35 Thin', sans-serif;
    font-family: 'Helvetica 45 Light', sans-serif;
    font-family: 'Helvetica 55 Roman', sans-serif;
    font-family: 'Helvetica 65 Medium', sans-serif;
    color: var(--df-clr);
    margin: 0 auto;
    padding: 0;
    background-color: #F5F5F5;
}
a, a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
    color: var(--df-clr);
}
ul{
    padding: 0;
    margin: 0 auto;
}
li {
    list-style-type: none;
}
img {
    max-width: 100%;
}
:focus {
    outline: none;
}
h1{
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
}
.required{
    color: var(--danger);
}
.container {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
}
.clear {
    float: none;
    clear: both;
}
.hidden{
    display: none;
}
/*Header*/
.histaff-header{
    width: 100%;
    max-height: 80px;
    padding: 5px 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    box-shadow: 0px 0px 11px rgba(0,0,0,0.3);
}
    .histaff-header .histaff-header-logo{
        max-width: 180px;
    }
    .histaff-header .histaff-header-content{
        height: 100%;
    }
        .histaff-header .histaff-header-content h1{
            font-size: 36px;
            font-weight: 700;
            font-style: normal;
            margin: 0 auto;
            line-height: 65px;
        }
/*End header*/
/*Body*/
.histaff-body{
    margin-top: var(--mtop);
}   
    .histaff-side-bar{
        position: fixed;
    }
        .histaff-body .histaff-side-bar .side-bar-content{
            padding: 10px 15px;
        }
            .side-bar-content ul li{
                padding: 10px 0;
                margin: 5px 0;
            }
            .side-bar-content ul li:nth-child(1){
                padding-top: 0;
                margin-top: 0;
            }
            .side-bar-content ul li:nth-child(5){
                padding-bottom: 0;
                margin-bottom: 0;
            }
                .side-bar-content ul li a{
                    font-size: 17px;
                    font-weight: 400;
                    transition: ease-in-out 0.2s;
                }
                .side-bar-content ul li a:hover,.side-bar-content ul li.active a{
                    font-size: 17px;
                    font-weight: 400;
                    color: var(--act-clr);
                }
                    .side-bar-content ul li a i{
                        margin-right: 5px;
                        width: 20px;
                    }
    .histaff-body .histaff-item-group-header{
        position: relative;
    }
    .histaff-body .histaff-item-group{
            padding: 10px 15px;
            margin-bottom: 30px;
    }
       
            .histaff-item-group .histaff-item-group-info{
                padding: -10px 15px !important;
            }
            .histaff-item-group .histaff-item-group-header h3{
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                padding-bottom: 15px;
                border-bottom: 2px solid #DADADA;
            }
            .histaff-item-group.active .histaff-item-group-header h3::after{
                content: "";
                width: 129px;
                height: 2px;
                background-color: var(--act-clr);
                position: absolute;
                left: 15px;
                bottom: 8px;
            }
            .histaff-body .histaff-body-content .histaff-item-group-header h4{
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                overflow: hidden;
                position: relative;
                z-index: 1;
            }
            .histaff-body .histaff-body-content .histaff-item-group-header h4 span{
                background: #ffffff;
                padding-right: 10px;
            }
            .histaff-item-group.active .histaff-item-group-header h4::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 0.5em;
                border-top: 2px solid #D1D1D1;
                z-index: -1;
            }
            .histaff-upload-image{
                position: relative;
                width: 170px;
                height: 170px;
                border-radius: 50%;
                background: #EFEFEF;
                text-align: center;
                margin: 0 auto;
                overflow: hidden;
                border: 2px solid #EFEFEF;
                background-position: center center;
                background-size: cover;
            }
            .histaff-avata-edu{
                position: relative;
                width: 100px;
                height: 100px;
                /* border-radius: 50%; */
                background: #efefef00;
                text-align: center;
                margin: 0 auto;
                overflow: hidden;
                /* border: 2px solid #ff000024; */
                background-position: center center;
                background-size: cover;
            }

            .histaff-upload-image:hover{
                cursor: pointer;
                border: 2px solid #EFEFEF;
            }
            .histaff-upload-image:hover{
                border-color:var(--act-clr);
            }
                .histaff-upload-image #showImage{
                    max-width: 170px;
                    max-height: 170px;
                }
                .histaff-upload-image:hover i{
                    color: var(--act-clr);
                }
                .histaff-upload-image i{
                    font-size: 45px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    color: var(--df-clr);
                }
        .histaff-item-group label{
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
        }
           
        .histaff-item-group .hs-button{
            width: 40%;
            float: left;
            text-align: center;
            margin-right: 15px;
            position: relative;
            margin-top: 37px;
            padding: 6px 10px 4px;
            font-size: 14px;
            border: 1px solid var(--df-clr);
            border-radius: 25px;
            color: var(--df-clr);
            background-color: #ffffff;
            transition: ease-in-out 0.2s;
        }
        .histaff-item-group .hs-button:hover{
            background-color: var(--act-clr);
            border-color: var(--act-clr);
        }
        .histaff-item-group .hs-button:nth-chill(1){
            margin-right: 0;
        }
            .histaff-item-group .hs-button a{
                color: var(--df-clr);
            }
            .histaff-item-group .hs-button:hover a{
                color: #ffffff;
            }
            .histaff-item-grpup input[type=checkbox]{
                margin: 40px 5px 0 0;
                width: 20px;
                height: 20px;
            }
            .histaff-item-group textarea{
                height: auto !important;
            }
            .histaff-table{
                overflow-x: scroll;
            }
/*End body*/
/*footer*/
.histaff-footer{
    margin-top: 15px;
    height: 30px;
}
/*end footer*/
/*Message*/
#histaff-message{
    width: 400px;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    background-color: var(--ms-clr);
    top: -200px;
    left: 50%;
    z-index: 9999;
    position: fixed;
    transform: translateX(-50%);
    border-radius: 10px;
}
    #histaff-message:hover{
        cursor: pointer;
    }
    #histaff-message p{
        margin: 0 auto;
        vertical-align: middle;
        padding: 10px;
    }

@keyframes message {
  20% {
    top: 50px;
  }
  50%{
    top: 50px;
  }
  80% {
    top: -200px;
  }
}
/*end message*/