body{
	background-color: rgba(0,0,0,0.9);
	justify-content: center;
	display: flex;
	align-items: center;
	min-height: 100vh;
}
.block {
	width: 300px;
	height: 300px;
	position: relative;
	transform-style: preserve-3d;
	transform: rotateX(-30deg);
	animation: blockAni 4s linear infinite;
}
@keyframes blockAni{
	0%{
		transform: rotateX(-30deg) rotateY(0deg);
	}
	100%{
		transform: rotateX(-30deg) rotateY(-360deg);
	}
}
	.top{
		background-color: #000000;
		transform: rotateX(90deg) translateZ(150px);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0
	}
	.top::before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		filter: blur(80px);
	    background-color: #59FFE9;
	    transform: translateZ(-380px);
	    box-shadow: 0px 0px 100px #59ffe9;
	}
	.block div{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transform-style: preserve-3d;
	}
		.block span{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(#000000,#59FFE9);
			transform: rotateY(calc(90deg * var(--i))) translateZ(150px);

		}